@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap');
body {
    color: white;
    margin-top: 0;
  }
  
  .container2 {
    margin: 0 auto;
    text-align: left;
    color: black;
  }
  
  .header {
    background-color: #ce2829;
    width: 100%;
  }
 
  
  p {
    font-size: 1rem;
    margin-top: 1rem;
    font-family: "Barlow", sans-serif;
  }

  h3{
    font-size: 1.5rem;
  }

  b{
    font-size: 1.2rem;
  }
 
  .siparis-body {
    margin: 0 auto;
    text-align: left;
    color: black;
    width: 600px;
    margin-bottom: 14rem;
  }
  
  #toppings-checkboxes {
    display: flex;
    flex-wrap: wrap;
  }
  
  #toppings-checkboxes label {
    flex-basis: calc(33.33% - 10px);
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
  #toppings-checkboxes label {
    font-weight: bold;
    margin-bottom: 10px;
    font-family: "Barlow", sans-serif;
  }
  
  #toppings-checkboxes input[type="checkbox"] {
    margin-right: 10px;
  }
  
  #special-text {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  #special-text::placeholder {
    font-family: "Barlow", sans-serif;
  }
  
  .duz {
    height: 1px;
    width: 100%;
    background-color: #ccc;
  }
  
  .required {
    color: red;
  }
  
  
  label[for="toppings-checkboxes"] {
    font-weight: bold;
    font-family: "Barlow", sans-serif;
  }
  
  label[for="name-input"] {
    font-weight: bold;
    font-family: "Barlow", sans-serif;
  }
  
  label[for="special-text"] {
    font-weight: bold;
    font-family: "Barlow", sans-serif;
  }
  
  #name-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  label[for="address-input"] {
    font-weight: bold;
    font-family: "Barlow", sans-serif;
  }
  
  #address-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .order {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #ccc;
    font-weight: bold;
    font-family: "Barlow", sans-serif;
    flex: 2;
    margin-left: 40px;
    
  }
  
  .order > div:first-child {
    padding-left: 20px;
    padding-top: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
  }
  
  .order > div:nth-child(2) {
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .order > div:nth-child(3) {
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .choices {
    display: flex;
    justify-content: space-between;
  }
  
  #order-button {
    width: 100%;
    background-color: #fdc913;
    border: none;
    outline: none;
    padding: 10px;
    font-weight: bold;
    font-family: "Barlow", sans-serif;
    cursor: pointer;
  }
  
  #order-button:hover {
    background-color: #fdca13bd;
    color: black;
    cursor: pointer;
  }
  
  .minus-button,
  .plus-button {
    width: 2.5rem;
    border: 0.5px solid #ccc;
    background-color: #fdc913;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
  }
  .plus-button:hover {
    background-color: #fdca13bd
  }
  .minus-button:hover {
    background-color: #fdca13bd
  }
  
  .quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
    font-size: 1em;
  }
  
  .quantitybox {
    border: 0.5px solid #ccc;
    width: 2.5rem;
    display: inline-block;
  }
  
  .general-qty {
    text-align: center;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
  }
  
  .qty-of-order {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .size-dough-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .size-option,
  .dough-option {
    margin-bottom: 1rem;
    
  }
  .size-option label {
    display: block;
    margin-bottom: 15px;
  }
  .size-option label,
.dough-option label {
  font-weight: bold;
  font-family: "Barlow", sans-serif;
}